/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0 20px;
}
article {
  font-size: 20px;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 23px;
}
img {
	max-width: 100%;
  margin-bottom: 20px;
}
main {
}
section {
}
figure {
	margin: 0;
}
figcaption {
  font-size: .8em;
}

@media screen and (min-width: 768px) {
  body {
    background-color: pink;
    margin: 0 70px;
  }

  article {
    font-size: 18px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 25px;
  }

  section {
    display: flex;
    flex-wrap: wrap;
  }
  section figure {
    flex-basis: 45%;
    margin: 5px;
  }   
}

@media screen and (min-width: 992px) {
  body {
    background-color: aqua;
    margin: 0 90px;
    max-width: 700px;
  }

  article {
    font-size: 19px;
  }

  h1 {
    font-size: 33px;
  }

  h2 {
    font-size: 28px;
  }
}