body {
  background-color: rgb(198, 218, 198);
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

.quote {
  font-size: 30px;
  color: green;
  width: 400px;
  text-align: center;
}

.author {
  color: palevioletred;
  text-align: right;
  width: 400px;
  /* border: 1px solid black; */
}

.error {
  color: red;
}

.get-quote {
  color: white;
  background-color: blue;
  border: none;
  border-radius: 2px;
  padding: 10px;
  font-size: 15px;
}
