body{
    font-family:'Bubblegum Sans', cursive, sans-serif;
    background-color: beige;
}

p, li{
    font-size: 18px;
    color: rgb(82, 72, 72);
}

h1, h2 {

    color: rgb(100, 29, 167);
}

.pessoa-ti {
    color: rgb(13, 13, 141);
}


