body{
    font-family:'Bubblegum Sans', cursive, sans-serif;
    background-color: beige;
}

p, li{
    font-size: 18px;
    color: rgb(82, 72, 72);
}

li{
    line-height: 30px;
}

h1, h2 {

    color: rgb(100, 29, 167);
}

.pessoa-ti {
    color: rgb(13, 13, 141);
}

.herotitle {
    color: rgb(255, 127, 187);
    line-height: 55px;
    font-weight: 600;
    font-size: 30px;
}

.picture-round {
    border-radius: 50%;
    width: 150px;
}
.picure-principal{

    border-radius: 10%;
    width: 500px;
}